*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* creates a base 10px font-size and allows for user font sizes to work */
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
